.contact-us {
  padding: 150px 0px;
}
.hero_spacing {
  padding-top: 158px;
  padding-bottom: 238px;
}

.opacity-70 {
  opacity: 70%;
}

.email-input .email {
  border: none;
  padding: 22px 0px;
  outline: none;
  border-bottom: 1px solid #0e0e112e;
}
.email::placeholder {
  color: var(--c-gray-700);
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: var(--c-gray-700) !important;
  -webkit-box-shadow: 0 0 0 30px transparent inset !important;
}
.email-input {
  margin-top: 20px;
}

.submit-btn {
  margin-top: 36px;
}

.contact-p {
  max-width: 558px;
}

/* get in touch section */

.get-in-touch {
  padding-bottom: 150px;
}

.contact-box {
  border: 1px solid #0e0e1129;
  border-radius: 4px;
  padding: 20px;
}

@media (max-width: 1279.99px) {
  .contact-us {
    padding: 120px 0px;
  }

  .get-in-touch {
    padding-bottom: 120px;
  }
}

@media (max-width: 991.99px) {
  .email-input {
    max-width: 530px;
  }

  .hero_spacing {
    padding: 132px 0px;
  }

  .contact-us {
    padding: 80px 0px;
  }

  .get-in-touch {
    padding-bottom: 80px;
  }
}

@media (max-width: 767.99px) {
  .email-input .email {
    padding: 5px 0px;
  }

  .email-input {
    margin-top: 20px;
  }
}

@media (max-width: 575.99px) {
  .contact-box {
    max-width: 375px;
    margin: 0 auto;
  }

  .submit-btn {
    margin-top: 20px;
  }
  .custom_max_width_sm {
    max-width: 375px;
    margin: 0 auto;
  }
}